.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    .card {
        background-color: lightgray;
        border-radius: .5rem;
        padding: .5rem;
        text-decoration: none;
        color: black;
        transition: .2s;
        text-align: center;
        &:hover {
            background-color: rgb(169, 169, 169);   
        }
        figure {
            margin-top: .5rem;
            
            
            img {
                height: 10vw;
                width: 100%;  
            }
        }
    }
}
.template-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    padding: 1rem;
    .country-description {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
        li {
            margin-left: 1.5rem;
            margin-block: 0.25rem;
        }
    }
}
.home-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
   .home-logo {
    width: 60%;
}
 
}
.about-us {
    padding: 1rem;
}
